

.linkCard{
    height:200px;
    line-height: 200px;
    transition:0.3s;
    margin:20px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity:0.8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:2px solid rgba(255, 0, 0,0);
}
.linkCard p{
    font-size:22px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    height:100%;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 2px;
    color:rgb(116, 180, 196);
}
.linkCard:hover,.linkCard.active{
    opacity:1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:2px solid rgb(116, 180, 196);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.brand{
    font-family: Adam;
    text-transform: uppercase;
    font-size:25px;
}